<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Anonymous Message Board!</title>
    <meta name="description" content="A cool thing made with glitch.com">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/about.css">
    <link rel="stylesheet" href="/public/general_style.css">
    <link rel="stylesheet" href="/public/navbar.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
  </head>
  
  <body>
    
    <nav id="navigator" class="navclass">
      <a href="/" class="nav-link">Home</a>
      <a href="/all-boards" class="nav-link">All boards</a>
      <a href="/about" class="nav-link active">About</a>
      <a href="/contact" class="nav-link">Contact</a>      
    </nav>
    
    <h1 class="aboutHeader">
      About
    </h1>
    
    <h2 class="smallHeader">
      About Me:
    </h2>
    <p class="aboutParagraph">
      Hello and welcome to my website. My name is Leon Dawson and I am an aspiring web developer. I have been learning how to program
      so that I could become a full-stack developer. The creation of an anonymous message board was done so as a project for 
      for freeCodeCamp.org. I decided to go much further than what was expected and decided to make this project a full blown website
      that others could enjoy. 
    </p>
    
    <h2 class="smallHeader">
      Mission Statement:
    </h2>
    <p class="aboutParagraph">
      This website is intended to create conversation and a sense of community amongst the users. Feel free to discuss any topic
      that are within the <a href="#guidelines">guidlines</a> of this website. 
    </p>
    
    <h2 id="guidelines" class="smallHeader">
      Guidlines:
    </h2>
    <p class="aboutParagraph">
      Listed below are the guidelines for posting on this website. Breaking any of these rules may result in a permanent ban of your
      ip address. 
    </p>
    <ol class="guidelineLists">
      <li>No doxxing. Do not give out the private information of others such as home address, full name, place of employment
          and other such private information. This include but is not limited to credit card inofmration, social security, and etc.</li>
      <li>No threatening other members with violence.</li>
      <li>Racist or sexist conduct would not be allowed.</li>
      <li>No solicitation for sex or anykind of sexual encounters.</li>
      <li>The use of this site for any kind of stalking purpose is strictly prohibited.</li>
      <li>This site does not allow for the transaction of illegal materials such as drugs.</li>
    </ol>
    
  </body>
</html>