<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Anonymous Message Board!</title>
    <meta name="description" content="A cool thing made with glitch.com">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/homepage_style.css">
    <link rel="stylesheet" href="/public/general_style.css">
    <link rel="stylesheet" href="/public/navbar.css">
    <link rel="stylesheet" href="/public/all_boards.css">    
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
  </head>
  <body>
    
    <nav id="navigator" class="navclass">
      <a href="/" class="nav-link">Home</a>
      <a href="/all-boards" class="nav-link active">All boards</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/contact" class="nav-link">Contact</a>      
    </nav>

    <header class="homepageHeader">
      <h1>Anonymous Message Board</h1>    
    </header>
    
    <h1 class="header centered">
      All Boards
    </h1>
    
    <div id="boardContainer" class="flexContainer"></div>
    
  </body>
  <script>
    $(document).ready(function(){
      $(function(){
        $.ajax({
          type: "GET",
          url: "/api/allboards",
          success: function(data){
            html = [];
            data.forEach(function(ele){
              html.push('<a class="boardLink linkContainer" href="/b/'+ele+'/">/'+ele.replace(/_/g,' ') +'/</a>');
            });
            $("#boardContainer").html(html.join(''));
          },
          err: function(){
            console.log("Sorry there was an error. Please try again later.");          
          }
        });
      })
    });
  </script>
</html>