<style>
  body {
    background: url(https://cdn.glitch.com/42b07742-d38a-47f1-8faa-41055b558bf7%2Fconnectwork.png?1549428246653);  
  }
  p {
    color: white;
  }
</style>
<head>
  <link rel="stylesheet" href="/public/navbar.css">
  <link rel="stylesheet" href="/public/general_style.css">
  <meta charset="utf-8">
</head>

<body>
  <nav id="navigator" class="navclass">
    <a href="/" class="nav-link">Home</a>
    <a href="/all-boards" class="nav-link">All boards</a> 
    <a href="/about" class="nav-link">About</a>
    <a href="/contact" class="nav-link">Contact</a>      
  </nav>
  
  <p>
    Sorry but this page is under construction. In the meantime enjoy this picture of a cat eating ice cream.
  </p>
  <img src="https://cdn.glitch.com/42b07742-d38a-47f1-8faa-41055b558bf7%2Fcat_eating_fancy_ice_cream.jpg.838x0_q80.jpg?1549432247535"
       alt="cat eating ice cream">  
</body>


