.aboutHeader {
  color: white;
  text-align: center;
  font-size: 36px;
  font-family: 'Verdana';
  width: 70%;
  margin: 0 auto;
}

.smallHeader {
  color: white;
  font-size: 26px;
  margin: 20px auto;
  font-family: 'Verdana';
  width: 75%;
}

.aboutParagraph {
  font-size: 16px;
  color: white;  
  margin: 20px auto;
  font-family: "Times New Roman";
  width: 75%;
  text-align: left;
}

.guidelineLists {
  color: white;
  margin: 20px auto;
  margin-top: 5px;
  font-family: "Times New Roman";
  width: 75%;
  text-align: left;
}

.guidelineLists li {
  margin: 5px 15px;
}

