.boardTop {
  background-color: hsla(241, 45%, 39%, 1);
  padding: 5px;
  margin-bottom: 10px;
  color: white;
}

.boardLink {
  color: hsla(90, 100%, 50%, 1);
}

.main {
  border: 2px black solid;
  border-radius: 5px;
  background-color: hsla(134, 0%, 86%, 1);
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px solid black;
  width: 95%;
  margin: 5px;
  padding: 0px;
  border-radius: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.id {
  font-size: 11px;
  color: white;
}

.quickReplyButtons {
  margin: 0 5px;
}

.boardTextContainer {
  width: 95%;
  margin: 0px auto;
  padding: 10px;
}

.hiddenCount {
  font-size: 12px;
  font-family: "Arial";
}

.replyHead {
  background-color: hsla(241, 45%, 39%, 1);
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;  
}

.textareaClass {
  width: 75%;
  resize: none;
  padding: 5px;
}

.replyText {
  padding: 5px;
}

.inLine {
  display: inline-block;
}

.alignRight {
  display: inline-block;
  text-align: right;
}

.myButton {
  font-family: "Arial";
  font-size: 14px;
  background-color: rgba(173, 173, 173, 1);
  padding: 1px;
}

.myButton:hover {
  background-color: rgba(245, 245, 245, 1);
}

.innerPadding {
  padding: 2px;
}

.threadHead {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;  
}

.board {
  margin-top: 5px;
}

.whiteText {
  color: white;
}

.boardTitle {
  color: white;
}

.boardTitleHeader {
  width: 85%;
  margin: 0 auto;
}

.newThreadAlign {
  width: 85%;
  margin: 20px auto;
}

.submitNewThreadText {
  padding: 5px;
  resize: none;
}