
.threadDisplay {
  width: 85%;
  margin: 0px auto;
  border-radius: 150px;
}

.threadTitleClass {
  color: white;
  width: 85%;
  font-size: 20px;
  overflow-wrap: break-word;
  margin: 30px auto;
}


@media (min-width: 350px){
  
  .threadDisplay {
    width: 75%;
    margin: 0px auto;
    border-radius: 150px;
  }

  .threadTitleClass {
    color: white;
    width: 85%;
    overflow-wrap: break-word;
    margin: 30px auto;
    font-size: 36px;
  }

}